.card {
  display: flex;
  width: 100%;
  gap: 12px;
}

.banner {
  min-height: 290px;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  display: -webkit-box;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  font-size: 14px;
}

.wrapper {
  width: 64px;
  height: 64px;
  background-color: #f2f4f5;
  background-position: center;
  background-size: cover;
  flex-shrink: 0;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}